{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<!-- <html lang="en">

  <body>

    <! -->

    <!-- +++++ Welcome Section +++++ -->
    <div id="ww">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 centered">
                    <main id="body">
                    <img src="static/img/sakiprof2.jpg" alt="" height="200" width="290">
                    <h3>Resume</h3>
                    <p>You can create and customize your imager profile with your favorite photos.
                        Now sharing your photos with your friends and family is just a click away.</p>
                </main>
                </div><!-- /col-lg-8 -->
            </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /ww -->


    <!-- +++++ Projects Section +++++ -->
<!-- Display photo placeholders, will be uncommented when we figure out what to put there -->
<!--    <div class="container pt">
        <div class="row mt centered">
            <div class="col-lg-4">
                <a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/portfolio/port01.jpg" alt="" /></a>
                <p>APE</p>
            </div>
            <div class="col-lg-4">
                <a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/portfolio/port02.jpg" alt="" /></a>
                <p>RAIDERS</p>
            </div>
            <div class="col-lg-4">
                <a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/portfolio/port03.jpg" alt="" /></a>
                <p>VIKINGS</p> -->
<!--            </div> -->
        <!-- </div> --><!-- /row -->
<!--        <div class="row mt centered">
            <div class="col-lg-4">
                <a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/portfolio/port04.jpg" alt="" /></a>
                <p>YODA</p>
            </div>
            <div class="col-lg-4">
                <a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/portfolio/port05.jpg" alt="" /></a>
                <p>EMPERORS</p>
            </div>
            <div class="col-lg-4">
                <a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/portfolio/port06.jpg" alt="" /></a>
                <p>CHIEFS</p>
            </div> -->
        <!-- </div> --><!-- /row -->
    <!-- </div> --><!-- /container -->


    <!-- +++++ Footer Section +++++ -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/bootstrap.min.js"></script>
  </body>
</html>
{% endblock %}
